.style
.body{
    margin: 0px;
}
ul{
    list-style: none;
    height: 50px;
    position: fixed;
}
ul li{
    width: 200px;
    border: 1px solid;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
}
section{
    margin-left: 5px;
    text-align: center;
    width: 1200px;
    padding: 1px 16px;
}
p{
    text-align: center;
    
}
